<div class="main-container">
  <input class="btn-secondary" type="file" (change)="onChange($event)" />

  <button
    (click)="onUpload()"
    kendoButton
    themeColor="primary"
    fillMode="outline"
  >
    {{ "image-upload.upload" | translate }}
  </button>
  <div class="container" *ngIf="shortLink">
    <h2>{{ "image-upload.visit-here" | translate }}</h2>
    <a target="_blank" href="{{ shortLink }}">{{ shortLink }}</a>
  </div>
  <div class="container" *ngIf="loading">
    <h3>{{ "image-upload.loading" | translate }}</h3>
  </div>
</div>
