<div class="header-container row full-center">
  <nav class="nav-container">
    <a *ngIf="!userLogged" href="login">Login</a>
    <a *ngIf="userLogged && isAdmin" href="admin">Admin Portal</a>
    <a href="upload-image">Upload-Image</a>

    <div class="select-container" *ngIf="userLogged">
      <kendo-dropdownbutton
        [data]="dropDownButtonList"
        [textField]="'title'"
        [svgIcon]="profileIcon"
        themeColor="secondary"
        fillMode="flat"
        (itemClick)="onChangeOption($event)"
      >
        <!-- i dont think [textField="'title'"] is needed but it was not working wihtout this -->
      </kendo-dropdownbutton>
    </div>
  </nav>
</div>
