<div class="main-container">
  <app-sidebar></app-sidebar>
  <form action="#">
    <label name="title">Title</label>
    <input
      type="text"
      name="title"
      placeholder="Privacy Policy Title"
      [(ngModel)]="policyData.title"
    />

    <label name="category">Category </label>
    <input name="w3review" [(ngModel)]="policyData.category" />

    <label name="content">Content</label>
    <kendo-editor [(value)]="policyData.content"></kendo-editor>
    <button
      kendoButton
      themeColor="primary"
      fillMode="outline"
      (click)="onClick()"
    >
      Save Changes
    </button>
  </form>
</div>
