<div class="main-container">
  <app-sidebar></app-sidebar>
  <form action="#">
    <label name="title">{{ "policy-page.title" | translate }}</label>
    <input
      type="text"
      name="title"
      placeholder="Privacy Policy Title"
      [(ngModel)]="policyData.title"
    />

    <label name="category">{{ "policy-page.category" | translate }} </label>
    <input name="w3review" [(ngModel)]="policyData.category" />

    <label name="content">{{ "policy-page.content" | translate }}</label>
    <kendo-editor [(value)]="policyData.content"></kendo-editor>
    <button
      kendoButton
      themeColor="primary"
      fillMode="outline"
      (click)="onClick()"
    >
      {{ "policy-page.saveChanges" | translate }}
    </button>
  </form>
</div>
