<div class="main-container">
  <form action="#">
    <label name="email">{{ "login-page.email" | translate }}</label>
    <input
      type="email"
      placeholder="Enter your email"
      [(ngModel)]="loginData.email"
      name="email"
    />
    <label name="password">{{ "login-page.password" | translate }}</label>
    <input
      type="password"
      placeholder="Enter your password"
      [(ngModel)]="loginData.password"
      name="password"
    />
    <button
      kendoButton
      themeColor="primary"
      fillMode="solid"
      class="btn"
      (click)="onLogin()"
    >
      {{ "login-page.login" | translate }}
    </button>
  </form>
  <div class="subContainer">
    <p>{{ "login-page.register-description"|translate }}</p>
    <button
      kendoButton
      themeColor="primary"
      fillMode="solid"
      class="btn"
      (click)="onClickRegister()"
    >
      {{ "login-page.register" | translate }}
    </button>
  </div>
</div>
