<div class="main-container">
  <form action="#">
    <label name="email">{{ "register-page.email" | translate }}</label>
    <input
      type="email"
      placeholder="Enter your email"
      [(ngModel)]="registerData.email"
      name="email"
    />

    <label name="password">{{ "register-page.password" | translate }}</label>
    <input
      type="password"
      name="password"
      placeholder="Enter your password"
      [(ngModel)]="registerData.password"
    />

    <label name="name">{{ "register-page.userName" | translate }}</label>
    <input
      type="text"
      name="userName"
      placeholder="Enter your username"
      [(ngModel)]="registerData.userName"
    />

    <label name="phoneNumber">{{
      "register-page.phoneNumber" | translate
    }}</label>
    <input
      type="text"
      name="phoneNumber"
      placeholder="Enter your phone number"
      [(ngModel)]="registerData.phoneNumber"
    />

    <label name="age">{{ "register-page.age" | translate }}</label>

    <input type="number" name="age" [(ngModel)]="registerData.age" />

    <button
      kendoButton
      themeColor="primary"
      fillMode="solid"
      class="btn"
      (click)="onRegister()"
    >
      {{ "register-page.register" | translate }}
    </button>
  </form>
  <button
    kendoButton
    themeColor="primary"
    fillMode="solid"
    class="btn"
    (click)="VerifyOtpButtonClick()"
  >
    {{ "register-page.verify-email" | translate }}
  </button>

  <div class="subContainer">
    <p>{{ "register-page.login-description" | translate }}</p>
    <button
      kendoButton
      themeColor="secondary"
      fillMode="solid"
      (click)="onClickLogin()"
    >
      {{ "register-page.login" | translate }}
    </button>
  </div>
</div>
