table {
  width: 100%;
}
.paginator-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
.container{
  margin-left: 160px;
  padding: 0px 10px;  
}

.sidenav {
  height: 100%;
  width: 160px; 
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: rgb(142, 162, 216);
  overflow-x: hidden;
  padding-top: 200px;

}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #524545;
  display: block;
}
.sidenav a:hover {
  color: #000000;
}