<div class="container">
  <div class="header-container">
    <header></header>
    <h1>All Users</h1>
  </div>
  <app-sidebar></app-sidebar>
  <!-- <div class="main-container">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>User Name</th>
            <th>Age</th>
            <th>email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of DispalyList(current_page)">
            <th>{{ item.userName }}</th>
            <td>{{ item.age }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>
              <button
                (click)="onEditButtonClick(item)"
                type="button"
                kendoButton
                themeColor="primary"
                fillMode="flat"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginator-container">
      <kendo-buttongroup>
        <button
          kendoButton
          *ngFor="let page of setPagination()"
          themeColor="primary"
          fillMode="outline"
          [togglable]="true"
          (click)="onPageChange(page)"
        >
          {{ page }}
        </button>
      </kendo-buttongroup>
    </div>
  </div> -->

  <div>
    <kendo-grid
      [kendoGridBinding]="allUsers"
      [pageable]="true"
      [pageSize]="5"
      [sortable]="true"
    >
      <kendo-grid-column field="userName" title="User Name"></kendo-grid-column>
      <kendo-grid-column field="email" title="Email"></kendo-grid-column>
      <kendo-grid-column field="age" title="Age"></kendo-grid-column>
      <kendo-grid-column
        field="phoneNumber"
        title="Phone Number"
      ></kendo-grid-column>
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-dataItem>
          <!-- //The let-dataItem syntax allows you to access the current row's data.
          You can then pass dataItem directly to your onEditButtonClick method, -->
          <!-- which will contain the user data for that row. -->
          <button
            kendoButton
            themeColor="primary"
            fillMode="outline"
            (click)="onEditButtonClick(dataItem)"
          >
            Edit
          </button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
