<div class="container">
  <app-sidebar></app-sidebar>

  <div class="card">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div>
  <!-- <select
    name="auth-options"
    id="auth-options"
    (change)="onChangeOption($event)"
  >
    <option value="daily">Days</option>
    <option value="monthly">Monthly</option>
    <option value="yearly">Yearly</option>
  </select>
   -->
  <kendo-dropdownbutton
    [data]="dropDownButtonList"
    [textField]="'title'"
    themeColor="primary"
    fillMode="solid"
    (itemClick)="onChangeOption($event)"
  >
    Range
    <!-- i dont think [textField="'title'"] is needed but it was not working wihtout this -->
  </kendo-dropdownbutton>
</div>
