<div class="main-container">
  <form action="#">
    <div>
      <input
        type="email"
        placeholder="Enter your email"
        [(ngModel)]="emailVerificationData.email"
        name="email"
      />
      <!-- <app-button 
      [buttonType]="button" [label]="label" [clickFunction]="sendOtpButton()"></app-button> -->

      <button
        kendoButton
        themeColor="primary"
        fillMode="solid"
        class="btn"
        (click)="sendOtpButton()"
      >
        send otp
      </button>
    </div>

    <input
      type="text"
      placeholder="Enter the otp recieved on you gmail"
      [(ngModel)]="emailVerificationData.otp"
      name="otp"
    />

    <button
      kendoButton
      themeColor="primary"
      fillMode="solid"
      (click)="verifyOtpButton()"
    >
      verify otp
    </button>
  </form>
  <!-- <div *ngIf="emailVerification">you entered the wrong otp</div> -->
</div>
