<div class="main-container">
  <h2>Welcome, {{ userInfo.userName }}!</h2>
  <div class="user-details">
    <p>Email: {{ userInfo.email }}</p>
    <p>Phone Number: {{ userInfo.phoneNumber }}</p>
    <p>Age: {{ userInfo.age }}</p>
  </div>
  <div class="btn-container">
    <button (click)="editdata()" class="btn">Edit details</button>
    <button type="button" class="btn" (click)="onUploadClick()">
      Upload Image
    </button>
    <button (click)="onLogOut()" class="btn">LOGOUT</button>
  </div>
</div>
