<div class="main-container">
  <h2>{{ "home.welcome" | translate }} {{ userInfo.userName }}!</h2>
  <div class="user-details">
    <p>{{ "home.email" | translate }}: {{ userInfo.email }}</p>
    <p>{{ "home.phoneNumber" | translate }} : {{ userInfo.phoneNumber }}</p>
    <p>{{ "home.age" | translate }}: {{ userInfo.age }}</p>
  </div>
  <div class="btn-container">
    <button
      (click)="editdata(userInfo._id)"
      kendoButton
      themeColor="primary"
      fillMode="outline"
    >
      {{ "home.edit-details" | translate }}
    </button>
    <button
      kendoButton
      themeColor="primary"
      fillMode="outline"
      (click)="onUploadClick()"
    >
      {{ "home.upload-image" | translate }}
    </button>
    <button
      (click)="onLogOut()"
      kendoButton
      themeColor="primary"
      fillMode="outline"
    >
      {{ "home.logout" | translate }}
    </button>
  </div>
</div>
