<div class="main-container">
  <h2>Welcome, {{ userInfo.userName }}!</h2>
  <div class="user-details">
    <p>Email: {{ userInfo.email }}</p>
    <p>Phone Number: {{ userInfo.phoneNumber }}</p>
    <p>Age: {{ userInfo.age }}</p>
  </div>
  <div class="btn-container">
    <button
      (click)="editdata(userInfo._id)"
      kendoButton
      themeColor="primary"
      fillMode="outline"
    >
      Edit details
    </button>
    <button
      kendoButton
      themeColor="primary"
      fillMode="outline"
      (click)="onUploadClick()"
    >
      Upload Image
    </button>
    <button
      (click)="onLogOut()"
      kendoButton
      themeColor="primary"
      fillMode="outline"
    >
      Logout
    </button>
  </div>
</div>
