<div class="main-container">
  <form action="#">
    <label name="name">{{ "edit-user-details.userName" | translate }}</label>
    <input
      type="text"
      name="userName"
      placeholder="Enter your username"
      [(ngModel)]="UserEditData.userName"
    />
    <label name="phoneNumber">{{
      "edit-user-details.phoneNumber" | translate
    }}</label>
    <input
      type="text"
      name="phoneNumber"
      placeholder="Enter your phone number"
      [(ngModel)]="UserEditData.phoneNumber"
    />

    <label name="age">{{ "edit-user-details.age" | translate }}</label>

    <input type="number" name="age" [(ngModel)]="UserEditData.age" />
    <button
      kendoButton
      themeColor="primary"
      fillMode="outline"
      (click)="openDailogBox()"
    >
      {{ "edit-user-details.saveChanges" | translate }}
    </button>
  </form>
  <div *ngIf="isDailogOpen">
    <app-confirm-dailog
      content="edit-user-details.contentForDailogBox"
      (confirm)="onSave()"
      (cancel)="closeDailogBox()"
    ></app-confirm-dailog>
  </div>
</div>
